.payment-modal {
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.payment-modal-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: max(20vw, 330px);
  height: max(50vh, 400px);
  background-color: #222; 
  gap: 20px;
  padding: 30px 40px;
  border-radius: 10px;
}

.payment-modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffa07a;
}

.payment-methods {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.payment-methods img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.payment-modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-modal-inputs input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ffa07a;
  border-radius: 4px;
  color: #ffa07a;
  font-weight: bold;
  background-color: transparent;
}

.payment-modal-inputs .input-group {
  display: flex;
  gap: 10px;
}

.payment-modal-inputs .input-group input {
  flex: 1;
}

.payment-modal-inputs .input-group .cvv-input {
  flex: 0.3; 
}

.payment-modal button {
  background: #ffa07a;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 4px;
  color: white;
  border: none;
}

.payment-modal button:hover {
  color: black;
}
