.footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.5) 80%,
      #070704 100%
    ),
    url("/footer_img.jpg") no-repeat center;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.footer-content-center {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.footer-content-top::before,
.footer-content-top::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  transform: translateY(-50%);
}
.footer-content-top::before {
  left: 0;
  right: 50%;
  margin-right: 60px;
}

.footer-content-top::after {
  right: 0;
  left: 50%;
  margin-left: 60px;
}
.footer-content-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.footer-content-bottom {
  margin-bottom: 20px;
}

.footer-content-top img {
  width: 100px;
  height: auto;
}
.footer-copyright {
  margin: 20px 0px;
}
.footer-content li {
  list-style: none;
}
.footer hr {
  width: 100%;
}
@media (max-width: 750px) {
  .footer-content-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
